*{
    margin: 0%;
    padding: 0%;
}

a{
    text-decoration: none;
    color: black;
}

.container{
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.nav{
  
    border-radius: 20px;
    border:1px solid black;
    width: 20%;
    height:350px;
    flex-direction: row;
    gap: 20px;
     display: flex;
    flex-direction: column; 
    gap: 15px; 
padding: 10px;
margin-left: 50px;
  background-color: #d5dee9;
  border: none;
  flex-wrap: wrap;

}








.AVA{
position: relative;
display: flex;
flex-wrap: wrap;
height: 300px;
}

.main{
    width: 70%;
    flex-wrap: wrap;
    height: 380px;
   border: 1px solid black;
   background-color: #d5dee9;
   border-radius: 20px;
   border: none;
margin-left: 10px;
}






.avatar{
    width:120px;
    height:120px;
    border-radius:50%;
    background: linear-gradient(135deg, #00c6ff, #4d77a9);
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    font-size:40px;
    font-weight:bold;
    color:white;
  position: absolute;
  top: 20px;
  left:80px;
    box-shadow:0 10px 25px rgba(0,0,0,0.3);
    transition:0.4s;
}

.avatar:hover{
    transform:scale(1.1) rotate(5deg);
}

.name{
    position: absolute;
    top: 170px;
    font-size: 20px;
    left: 40px;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 flex-wrap: wrap;
}


.ava{
    background-color: #00c6ff;
}

.btn{
    font-size: 20px;
    padding: 15px;
    width: 30%;
    border-radius: 20px;
    flex-wrap: wrap;
    border :none;
    position: absolute;
    top: 290px;
    left: 30px;
    background-color: dodgerblue;
    color: white;
}


.call{
    background-color: #d5dee9;
    width: 63%;
    padding: 50px;
    position: absolute;
    left: 450px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    
   font-size: 20px;

}

.pasword{
    background-color: #d5dee9;
  width: 63%;
    padding: 50px;
    position: absolute;
    top: 75%;
   
    flex-wrap: wrap;
       border-radius: 20px;
   font-size: 10px;
   left: 448px;
}

.btn2{
    display: flex;
   margin-left: 85%;
   font-size: 15px;
   width: 15%;
  padding: 10px;
  flex-wrap: wrap;
  border-radius: 10px;
  border: none;
  background-color: dodgerblue;
  color: white;
   
}

.bu{
    font-size: 20px;
}

button{
    box-shadow: 1px 2px 10px 1px black;
}
